<!--
  [formControl]="fg.controls['titulo']" -> formControlName="titulo"
  "guardar(fg.controls['titulo'].value) -> fg.value.titulo
 -->
<form
  [formGroup]="fg"
  (ngSubmit)="guardar(
                      fg.controls['title'].value,
                      fg.controls['subtitle'].value,
                      fg.controls['imgUrl'].value
              )"
>
  <div class="form-group">
    <label for="title">title:</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Ingresar titulo."
      formControlName="title"
      />
      <ul>
        <li *ngFor="let result of searchResults; index as i">
          {{(result.title)}}
        </li>
      </ul>
      <div
        *ngIf="fg.controls['title'].hasError('required')"
        class="alert alert-danger"
      >
        Titulo es requerido.
      </div>
      <div
        *ngIf="fg.controls['title'].hasError('invalidTitulo')"
        class="alert alert-danger"
        >
        Titulo es invalido.
      </div>
  </div>
  <div class="form-group">
    <label for="subtitle">Subtitulo:</label>
    <input
      type="text"
      class="form-control"
      id="subtitle"
      placeholder="Ingresar subtitulo."
      formControlName="subtitle"
    />
    <div
      *ngIf="fg.controls['subtitle'].hasError('required')"
      class="alert alert-danger"
    >
      Subtitulo es requerido.
    </div>
    <div
      *ngIf="fg.controls['subtitle'].hasError('minLongsubtitle')"
      class="alert alert-danger"
      >
        Debe tener al menos {{minLongSub}} caracteres.
    </div>
  </div>
  <div class="form-group">
    <label for="imgUrl">Imagen:</label>
    <input
      type="text"
      class="form-control"
      id="imgUrl"
      placeholder="Ingresar url imagen."
      formControlName="imgUrl"
    />
  </div>

  <button
    type="submit"
    class="btn btn-success btn-block"
    *ngIf="fg.valid"
  >
    ¡Guardar!
  </button>
</form>
