<div class="card-content mb-3">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="" />
    <span>
      <h4>{{destino.titulo}} {{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.subtitulo}}</h3>
    <p class="mb-0">Servicios</p>
    <ul>
      <li *ngFor="let servicio of destino.servicios">
        <span [ngSwitch]="servicio">
          <i class="text-danger" *ngSwitchCase="'desayuno'">{{servicio}}</i>
          <i *ngSwitchDefault>{{servicio}}</i>
        </span>
      </li>
    </ul>
    <a class="lead text-center d-block" [routerLink]="['/destino', destino.id]">Ver Detalles</a>
    <a href="#" class="mx-auto d-block text-center btn-card" (click)="ir()">¡Ir!</a>
    <!-- <span [style.display]="destino.isSelected()?'':'none'">--PREFERIDO--</span> -->
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{PREFERIDO}}</span>
    </span>
  </div>
</div>
