<div class="card-content mb-3" [@esFavorito]="destino.selected ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="" />
    <span>
      <h4>{{destino.title}} {{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.title}}</h3>
    <p class="mb-0">Servicios</p>
    <ul>
      <li *ngFor="let servicio of destino.services">
        <span [ngSwitch]="servicio">
          <i class="text-danger" *ngSwitchCase="'desayuno'">{{servicio}}</i>
          <i *ngSwitchDefault>{{servicio}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a  href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
        <i class="material-icons md-18">thumb_up</i>
      </a>
      <a class="mr-3" href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
        <i class="material-icons md-18">thumb_down</i>
      </a>
      <span class="font-weight-bold" *ngIf="destino.votes===undefined">0</span>
      <span class="font-weight-bold">{{destino.votes}}</span>

      <span class="float-right" *ngIf="destino.selected">
        <span ngNonBindable>{{PREFERIDO}}</span>
      </span>
    </div>
    <a class="lead text-center d-block" [routerLink]="['/destino', destino._id]">Ver Detalles</a>
    <a href="#" class="mx-auto d-block text-center btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">¡Ir!</a>
    <!-- <span [style.display]="destino.isSelected()?'':'none'">--PREFERIDO--</span> -->

  </div>
</div>
