<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
    </ul>
    <a class="nav-link btn btn-success my-2 my-sm-0" [routerLink]="['/login']">Login</a>
  </div>
</nav>
<div class="container mt-5">
  <div style="float: right;">
    <select (change)="translate.use($any($event).target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="text-center">
        <b [innerHTML]="'HOLA' | translate"></b>
      </h3>
    </div>
  </div>
  <!-- <app-destino-viaje></app-destino-viaje> -->
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
<p>Fecha {{time | async}}</p>


